@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 62.5%;
}
body {
  padding: 30px;
  background-color: #FFE3D9;
  color: black;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
}

ul {
  list-style:none;
}

li {
  list-style:none;
}

/**, *::before, *::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  color: #7C5119;
  text-decoration: none;
}*/

/* --------------------------------
 * header
 * -------------------------------- */

header {
  width : 100%;
  background-color: #FF9A77;
}

.header_wrapper{
  width: 940px;
  height: 50px;
  vertical-align: middle;
  margin: auto;
}

.logo_wrapper{
  width: 620px;
  display: inline-block;
  padding: 5px 0 0 0;
}

.header_logo{
  color: #401406;
  font-size: 30px;
  font-weight: bold;
  padding: 0 10px;
  display: table-cell;
  vertical-align: bottom;
  text-decoration: none;
}

.sub_logo{
  color: #401406;
  padding: 0 10px;
  font-size: 16px;
  display: table-cell;
  vertical-align: bottom;
}

.login_wrapper{
  float: right;
  text-align: right;
}

.login_wrapper .post{
  font-size: 16px;
  width: 120px;
  background-color: #7F270C;
  color: #FFE3D9;
  font-style: bold;
  display: inline-block;
  margin: 9px 0;
  padding: 4px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  }

/*.login_wrapper .post:link{
}

.login_wrapper .post:visited {

}

.login_wrapper .post:hover {

}*/

.login_wrapper2{
  float: right;
  text-align: right;
}

ul.user_info{
margin: 0;
}

.user_info li{
margin: 0;
}

.login_wrapper2 .post{
  font-size: 16px;
  width: 120px;
  background-color: #7F270C;
  color: #FFE3D9;
  font-style: bold;
  display: inline-block;
  margin: 2px 0;
  padding: 2px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  }
/* --------------------------------
 * contents
 * -------------------------------- */
.contents{
  width: 940px;
  vertical-align: middle;
  margin: auto;
}

.thumbnail{
  width: 100px;
  height: 100px;
}










/* --------------------------------
 * footer
 * -------------------------------- */
footer{
  width : 100%;
}

footer p{
  text-align: center;
}











/********************************/
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
