<div class="contents">
  <%= form_tag('/reviews', method: :post) do %>
    <h3>
      レストランの投稿
    </h3>


    <input placeholder="雰囲気総合" type="" name="image" autofocus="true">
    <input type="submit" value="SENT">
  <% end %>
</div>
